[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-cors-headers = "*"
django-rest-auth = "*"
mysqlclient = "*"
gunicorn = "*"

[dev-packages]
rope = "*"

[requires]
python_version = "3.7"
