autopep8==1.6.0
backports.entry-points-selectable==1.1.0
black==22.1.0
botocore==1.20.86
cement==2.8.2
certifi==2021.10.8
chardet==4.0.0
click==8.0.4
colorama==0.4.4
distlib==0.3.3
filelock==3.3.0
future==0.16.0
importlib-metadata==4.8.1
jmespath==0.10.0
mypy-extensions==0.4.3
pathspec==0.9.0
pipenv==2021.5.29
platformdirs==2.4.0
pycodestyle==2.8.0
pypiwin32==223
python-dateutil==2.8.1
pywin32==301
PyYAML==5.3.1
requests==2.25.1
semantic-version==2.8.5
six==1.16.0
termcolor==1.1.0
toml==0.10.2
tomli==2.0.1
typed-ast==1.5.2
typing-extensions==3.10.0.2
urllib3==1.25.11
virtualenv==20.8.1
virtualenv-clone==0.5.7
wcwidth==0.1.9
zipp==3.6.0
setuptools==45
